:root {
    --pri-color : #2190EB;
    --sec-color : #3a5061;
    --ter-color : #1A71B8;
    --qua-color : #69B2EE;
    --qui-color : #061629;
    --ms-blue-50 :#1a6eb3;
    --back-colorA: #14281D;
    --back-colorB: #060b0f;
    --back-colorC: #06004a;
    --text-colorA: Black;
    --text-colorB: AliceBlue;
    --input-colorA: #363636b5;
    --red-alert-color: #f35858c0 ;
    --yellow-alert-color: #f3d758c0;
}

:root{
    --primary-btn-color:#84FBFB;
    --input-border-color: #000000;
    --loader-background-color: #00000083;
    --menu-header-background: #06004a9f;
    --semitransparent-background: rgb(0,0,0,0.2);
    --default-background-color: #131313 ;
    --menu-background-color: var(--sec-color) ;
    --default-box-shadow-color: black;
    --seccondary-box-shadow-color: #4d92b9;
    --background-mesher-blur-image: radial-gradient(at 20% 5%, #fcff4d90 0px, transparent 25%);
    
    
    --desktop-max-width: 1200px;
    --tablet-max-width: 768px;
    --mobile-max-width: 576px;
}

*{
    font-family: 'Poppins', sans-serif;;
}